@import '../../../../../../scss/variables';

.eatFilterItem {
	display: flex;
	align-items: center;
	font-size: 20px;
}
.eatFilter {
	margin-bottom: 30px;
	border-bottom: 2px dashed #848f96;
	padding-bottom: 30px;
}
