@import '../../../../../scss/variables';

.mainWho {
	display: flex;
	align-items: center;
}
.icon {
	color: $accentGreen;
}
.whoContent {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-left: 12px;
}
.whoChanger {
	padding: 20px;
	background-color: white;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 130%;
	left: 10%;
	min-width: 334px;
	border-radius: $radius;
	-webkit-box-shadow: 0px 2px 24px 16px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 2px 24px 16px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 2px 24px 16px rgba(34, 60, 80, 0.2);
	animation: openWIndow 0.3s;
	z-index: 4;
	& h3 {
		font-size: 20px;
	}
}
.dataWhoQty {
	min-width: 130px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	cursor: pointer;
	margin-right: 10px;
}
.whoData {
	width: 100%;
}
.dataWhoQty {
	width: 100%;
}
.qtyOfOld,
.qtyOfChildren {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	font-size: 14px;
	font-family: $userfont;
}
.changer {
	display: flex;
	width: 30%;
	justify-content: space-between;
	& div {
		display: flex;
		align-items: center;
	}
}
.minus,
.plus {
	cursor: pointer;
	transition: $transition;
	&:active {
		transform: scale(0.8);
	}
}
.whoTitle {
	margin-bottom: 10px;
}
.quantity {
	background-color: #f5f3f3;
	border-radius: 10px;
	padding: 5px 15px;
}
.mobileVersionDescr {
	display: none;
}

@keyframes openWIndow {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@include hd_plus() {
	// 1920px --
}

@include hd() {
	//1440px --
}

@include wide() {
	//1200px --
}

@include desktop() {
	// 992px--
	.whoContent {
		width: 100%;
		& > span {
			display: none;
		}
	}
	.mainWho {
		border: 2px solid #e1e4ea;
		background-color: #f9f9f9;
		padding: 16px;
		border-radius: $radius;
	}
	.whoChanger {
		left: -15%;
		top: 230%;
	}
	.dataWhoQty {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.mobileVersionDescr {
		display: block;
		font-weight: normal;
		font-size: 14px;
	}
}
@include tablet() {
	// 768px--
	.whoChanger {
		left: -15%;
	}
}
@include mobile() {
	// 568px--
	.whoChanger {
		max-width: 340px;
		left: -10%;
	}
}
@include mobile-s() {
	// 414px--
	.whoChanger {
		max-width: 340px;
		left: -15%;
	}
}
