@import '../../../../../scss/variables';

.calendarElement {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	-webkit-box-shadow: 0px 2px 24px 16px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 2px 24px 16px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 2px 24px 16px rgba(34, 60, 80, 0.2);
	border-radius: $radius;
}
.calendar {
	padding: 20px;
	border-radius: 20px;
}
.buttonCalendar {
	background-color: $accentGreen;
}
.randomButtonCalendar {
	background-color: white;
	border: 2px solid $accentGreen;
}
.buttonCalendar,
.randomButtonCalendar {
	width: 100%;
	padding: 12px 0;
	border-radius: $radius;
	cursor: pointer;
	margin-bottom: 12px;
}
.inputCalendar {
	border: none;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
}
.whenContent span {
	font-size: 15px;
}
.buttonsWrapper {
	padding: 0 0 20px 0;
	width: 80%;
}
