@import '../../../../../../scss/variables';

.categoryItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 10px 26px;
	background-color: white;
	margin-right: 10px;
	border-radius: $radius;
	font-size: 20px;
	color: $accentGreen;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	transition: 0.2s transform ease-in-out;
	will-change: transform;
	z-index: 0;
	&::after {
		background-color: $accentGreen;
		border-radius: $radius;
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		transform: translate(-100%, 0) rotate(10deg);
		transform-origin: top left;
		transition: 0.2s transform ease-out;
		will-change: transform;
		z-index: -1;
	}
	&:hover::after {
		transform: translate(0, 0);
	}

	&:hover {
		color: $special-text;
	}
	&:active {
		transform: scale(0.9);
	}
	& span {
		margin-left: 6px;
	}
}
.categoryItem.active {
	background-color: $accentGreen;
	color: $special-text;
}

@include hd_plus() {
	// 1920px --
}

@include hd() {
	//1440px --
}

@include wide() {
	//1200px --
}

@include desktop() {
	// 992px--
}
@include tablet() {
	// 768px--
}
@include mobile() {
	// 568px--
	.categoryItem {
		font-size: 14px;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		padding: 10px;
		line-height: 1;
		height: 65px;
		margin: 17px 0 20px 5px;
		background-color: #f2f9ed;
		& span {
			margin-left: 0px;
		}
	}
}
@include mobile-s() {
	// 414px--
}
