@import '../../../../../../scss/variables';

.categoryItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 10px 26px;
	background-color: white;
	margin-right: 10px;
	border-radius: $radius;
	font-size: 20px;
	color: $accentGreen;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	transition: 0.2s transform ease-in-out;
	will-change: transform;
	z-index: 0;
	&::after {
		background-color: $accentGreen;
		border-radius: $radius;
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		transform: translate(-100%, 0) rotate(10deg);
		transform-origin: top left;
		transition: 0.2s transform ease-out;
		will-change: transform;
		z-index: -1;
	}
	&:hover::after {
		transform: translate(0, 0);
	}

	&:hover {
		color: $special-text;
	}
	&:active {
		transform: scale(0.9);
	}
	& span {
		margin-left: 6px;
	}
}
.active {
	background-color: $accentGreen;
	color: $special-text;
}
