@import '../../../../../../scss/variables';

.RoomsFilterItem {
	display: flex;
	align-items: center;
	font-size: 20px;
}

.RoomsFilter {
	margin-bottom: 30px;
	border-bottom: 2px dashed #848f96;
	padding-bottom: 30px;
}

@include hd_plus() {
	// 1920px --
}

@include hd() {
	//1440px --
	.RoomsFilterItem {
		font-size: 15px;
	}
	.RoomsFilter {
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
}

@include wide() {
	//1200px --
}

@include desktop() {
	// 992px--
}
@include tablet() {
	// 768px--
}
@include mobile() {
	// 568px--
}
@include mobile-s() {
	// 414px--
}
