@import '../../scss/variables';

.headerWrapper {
	padding: 35px;
	display: flex;
	justify-content: space-between;
}
.logo {
	max-width: 220px;
}
.headerFirstSection {
	display: flex;
	align-items: center;
}
