@import '../../../../scss/variables';

.mainPageContentWrapper {
	display: flex;
	justify-content: space-between;
}
.mainPageDataWrapper {
	width: 72%;
	padding: 26px 40px;
	background-color: white;
}

.buttonWrapper {
	display: flex;
	justify-content: center;
}
