@import '../../../scss/variables';

.globalSearch {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	border-radius: $radius;
	background-color: #fafafa;
	max-width: 410px;
	width: 100%;
	border: 3px solid #e9e8e8;
	margin-right: 30px;
}
.statickSearchLogo,
.searchActive {
	font-size: 30px;
}
.statickSearchLogo {
	color: $accentBlue;
}
.searchActive {
	cursor: pointer;
	transition: $transition;
	color: rgba(58, 57, 57, 0.61);
	&:hover {
		color: $accentBlack;
	}
}
.searchInput {
	border: none;
	width: 100%;
	padding: 20px;
	background-color: #fafafa;
	&::placeholder {
		font-family: $userfont;
	}
}

@include hd_plus() {
	// 1920px --
}

@include hd() {
	//1440px --
	.globalSearch {
		padding: 0 13px;
	}
	.searchInput {
		padding: 13px;
	}
}

@include wide() {
	//1200px --
	.globalSearch {
		display: none;
	}
}

@include desktop() {
	// 992px--
}
@include tablet() {
	// 768px--
}
@include mobile() {
	// 568px--
}
@include mobile-s() {
	// 414px--
}
