@import './_reset';
@import './_variables';

html {
	font-size: $regular-text;
}

body {
	font-family: $userfont;
	line-height: $lineheight;
	color: $text;
	min-width: 320px;
	position: relative;
	background-color: white;
}

.container {
	max-width: 1840px;
	margin: 0 auto;
}

.hoverEffectLink {
	color: #18272f;
	position: relative;
	text-decoration: none;
}

.hoverEffectLink::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	border-radius: 4px;
	background-color: #18272f;
	bottom: -3px;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}

.hoverEffectLink:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

@include hd_plus() {
	// 1920px --
}

@include hd() {
	//1440px --
}

@include wide() {
	//1200px --
	.modalBackground {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		background-color: $background-opacity;
		cursor: pointer;
		transform: $transition;
		animation: backgroundAnimation 0.2s;
		z-index: 0;
	}
}

@include desktop() {
	// 992px--
}
@include tablet() {
	// 768px--
}
@include mobile() {
	// 568px--
	body {
		overflow-x: hidden;
	}
}
@include mobile-s() {
	// 414px--
}

@keyframes backgroundAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
