$accentBlue: #2569d7;
$accentBlueLight: rgb(41, 119, 245);
$accentBlueDark: rgb(30, 90, 187);

$accentGreen: #4e9f07;
$accentGreenLight: #5dbd09;
$accentGreenDark: #489207;

$accentBlack: #292d32;
$accentBlackLight: #3c4249;
$accentBlackDark: #0c0e0f;

$accentYellow: rgba(242, 165, 16, 1);
$accentYellowLight: rgb(255, 176, 19);
$accentYellowDark: rgb(192, 132, 13);

$background-opacity: rgba(0, 0, 0, 0.7);
$text: $accentBlack;
$special-text: white;
$border: $accentBlue;

$regular-text: 16px;
$small-text: 13px;
$lineheight: 1.75;
$userfont: 'Inter', sans-serif;
$transition: 0.25s ease-out;
$index: calc(1vw + 1vh);
$radius: 20px;

$breakpoint_hd_plus: 1920px;
$breakpoint_hd: 1440px;
$breakpoint_wide: 1200px;
$breakpoint_desktop: 992px;
$breakpoint_tablet: 768px;
$breakpoint_mobile: 568px;
$breakpoint_mobile-s: 414px;

@mixin hd_plus() {
	@media screen and (max-width: $breakpoint_hd_plus) {
		//1440px --
		@content;
	}
}

@mixin hd() {
	@media screen and (max-width: $breakpoint_hd) {
		//1440px --
		@content;
	}
}

@mixin wide() {
	@media screen and (max-width: $breakpoint_wide) {
		//1200px --
		@content;
	}
}

@mixin desktop() {
	@media screen and (max-width: $breakpoint_desktop) {
		//992px --
		@content;
	}
}

@mixin tablet() {
	@media screen and (max-width: $breakpoint_tablet) {
		//768px --
		@content;
	}
}

@mixin mobile() {
	@media screen and (max-width: $breakpoint_mobile) {
		//568px --
		@content;
	}
}

@mixin mobile-s() {
	@media screen and (max-width: $breakpoint_mobile-s) {
		//414px --
		@content;
	}
}
