@import '../../../../../scss/variables';

.mainPageFilterWrapper {
	padding: 46px 54px;
	width: 25%;
	-webkit-box-shadow: 0px 2px 24px 16px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 2px 24px 16px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 2px 24px 16px rgba(34, 60, 80, 0.2);
	border-radius: $radius;
	color: black;
	margin: 26px 0;
	background-color: white;
}

@include hd_plus() {
	// 1920px --
}

@include hd() {
	//1440px --
	.mainPageFilterWrapper {
		padding: 27px 45px;
	}
}

@include wide() {
	//1200px --
}

@include desktop() {
	// 992px--
}
@include tablet() {
	// 768px--
}
@include mobile() {
	// 568px--
}
@include mobile-s() {
	// 414px--
}
